*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    font-family: Arial, Helvetica;
    text-align: center;
    background-color: white;
    color: #037e02;
    margin: auto;
    padding: auto;
    }

h1{
        color: black;
        text-align: center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
        background-color: #037e02;
        border: solid 3px black;
        border-radius: 20px;
        }
h2{
    color: black;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;

}
h3{
    font-size: 25px;
    color: black;
}
p{
            font-size: 25px;
          }
          
          .content-box {
            box-sizing: content-box;}
 input, textarea{
        width: 100%; 
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none; 
        font-family: Arial, Helvetica;
        }
 textarea{
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;
        }
 #Boton{
        background: #31384a;
        color: #fff;
        padding: 20px;
        }
.grid-contenedor{
    display: grid;
    gap: 0px;
    grid-template: 
    "header" 300px
    "navbar" auto
    "main" auto
    "aside"100px
    "article" auto
    "footer" auto;
    }

.header{
    grid-area: header;
    border-bottom: #037e02 solid 3px;
    }
.nav{
    grid-area: navbar;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    }
.Head{
    display: flex;
    align-content: left;
}
.logo{
    width: 300px;
    height: 300px;
}
a{
    text-decoration: none;
    color: white;
}
a:visited{
    text-decoration: none;
}
.main{
        grid-area:main;
        align-content: center;
        justify-content: center;
    }
.noticias{
     width: 100%;
     height: 100%;
     display: grid;
     justify-content: center;
     align-items: center;
}
.noticia{
    width: 100%;
    height: 100%;
    border: #037e02 3px solid;
    border-radius: 30px;
    margin: 3px;
}
.aside{
    grid-area: aside;
    }
.article{
    grid-area: article;
    }
.footer{
   grid-area: footer;
   text-align: left;
   font-size: 14px;
   border-top: solid 3px #037e02;
   display: flex;
   justify-content: space-between;
   background-color: #037e02;
 }
 .contacto{
    height: 200px;
    display: block;
    text-align: start;
    align-items: flex-end;
 }
 .federacion{
    display: block;
    height: 198px;
 }
.copy{
    display: grid;
    justify-content: center;
    align-items: flex-end;

}
.footie{
    font-size: 14px;
    color: white;
    padding: auto;
}
.footie1{
    font-size: 14px;
    color: white;
    padding: auto;
}
.foot{
    height: 195px;
    width: 200px;
    object-fit: cover;
}

.width{
    width: 500px;
    height: 500px;
    align-content: center;
    outline: solid 3px black;
}
.dropdown {
    display: inline-block;
    position: relative;
  }
.dropdown-content {
    display: none;
    position: relative;
    border-radius: 10px;
    font-size: 15px;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
.dropdown:hover .dropdown-content {
    display: block;
  }
.dropdown-content a {
    display: block;
    color: #000000;
    background-color: #037e02;
    padding: 5px;
    font-size: 10px;
    text-decoration: none;
  }
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #037e02;
  }
.button{
    width: 200px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #037e02;
    color: white;
}
.fila{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
   }
.columna{
    flex: 25%;
    padding: 5px;
   }
.columna1{
    flex: 25%;
    padding: 5px;
   }
.columna img{
    margin-top: 5px;
    border-radius: 20px;
   }
.zoom{
     width: 100px;
     height: 200px;
}
.zoom1{
    width: 400px;
    height: 400px;
    object-fit: scale-down;
    border: none;
}
.zoom:hover{
    filter: opacity(1);
    transform: scale(2.5);
   }
   .zoom1:hover{
    filter: opacity(1);
    transform: scale(1.5);
   }
.viajes{
    display: flex;
    padding-left: 10px;
    flex-wrap: wrap;
}
.izquierda{
    border: solid 3px #037e02;
    padding: 1px;
    flex: 25%;
}
.derecha{
    border: 3px solid #037e02;
    padding: 1px;
    flex: 25%;
}
.descuento{    
    border: 3px rgba(19, 233, 37, 0.822) solid;
    color: black;
    text-transform: uppercase;
    box-shadow: inset 0px 0px 20px 20px rgba(19, 233, 37, 0.822);
}
.oferta{
    border: 3px rgba(19, 233, 37, 0.822) solid;
    color: black;
    text-transform: uppercase;
    box-shadow: inset 0px 0px 3px 3px rgba(19, 233, 37, 0.822);
    align-items: flex-end;
    align-content: flex-end;
}
.turismo{
    height: 800px;
    width: 700px;
    margin-top: 10px;
    object-fit: scale-down;
}

.consultar{
      color: red;
      font-size: 25px;
      text-transform: capitalize;
}
.table{
    border: solid 3px red;
    tab-size: 3cm;

}
.secretarios{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    border: none;
}
.sec{
    width: 300px;
    height: 400px;
    flex: 25%;
    padding: 5px;
    border: none;
}
.licencia{
    text-align: left;
    align-content: left;
    width: 100%;
    height: 100%;
}
.img{
    position: absolute;
    height: 280px;
    width: 100%;
    top:0;
    left:0;
    object-fit: fill;
}
#img2{
    opacity: 0;
}

.container{
			width:95%;
			max-width:900px;
			padding:32px 64px;
			margin:auto;
		}

.social{
			width:48px;
			position:fixed;
			top:50px;
			right: 0px;
		}
.social{
			top:70%;
			height:48px;
			margin-top:-100px;
		}             

img{
    width: 48px;
    height: 48px;
    object-fit: cover;
}
a img{
    border-radius: 50px;
    border: solid 3px #037e02;
}
#slideshow-principal{
    position: relative;
    overflow: hidden;
}
#progress-bar-container{
    position: absolute;
    height: 1px;
    background-color: aqua;
    width: 100%;
    top:0;
    z-index: 1000;
}
#progress-bar{
    height: 1px;
    background-color: blueviolet;
    border-radius: 0 3px 3px 0;
    transition: width 0.8s;
}
#slideshow{
    position: relative;
    z-index: 998;
    height: 300px;
}
.active{
    /* left: 0 !important; */
    opacity: 1 !important;
    transition: all 1s;
}
#indicadores{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 300px;
    z-index: 999;
}
.circles{
    border: white 2px solid;
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 5px 0 5px;
    background-color: transparent;
    border-radius: 50%;
}
.resaltado{
    background-color: brown;
    transition: background-color .8s;
}
.horas{
    height: 500px;
    width: 400px;
}
.maps{
     color: #037e02;
 }
 
.reintegros{
    width: 700px;
    height: 600px;
    object-fit: scale-down;
}
.asesoramiento{
     align-items: center;
     justify-content: center;
     display: grid;
}
.abogado{
    font-size: 28px;
    color: #0c570c;
}
.sedes{
     width: 100%;
     height: auto;
     display: block;
     justify-content: center;
     align-items: center;
     padding: auto;
     margin: 0;
}
.sede{
     width: 700px;
     height: 600px;
     object-fit: scale-down;
}
.historia{
     text-align: left;
     justify-content: center;
     align-items: center;
}
.objetivos{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.asesoramientos{
      font-size: 28px;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: black;
}
@media(min-width:200px){
    .grid-contenedor{
        grid-template:
        "header header" 200px
        "navbar navbar" 30px
        "main main" auto
        "article article"
        "footer footer" 200px/
        324px auto;
    }
    .img{
        height: 200px;
    }
    #slideshow{
        height: 200px;
    }
    .columna{
        flex: 25%;
    }
    .logo{
        width: 200px;
        height: 197px;
    }
    .form{
        width: 100%;

    }
    .nav{
        font-size: 16px;
        display: inline;
    }
    .button{
        width: 95px;
        height: 25px;
        border: 2px solid black;
        border-radius: 10px;
    }
    .viajes{
        display: flex;
        padding-left: 10px;
        justify-content: center;
        }           
    .dropdown-content {
         position: absolute;}
    .secretarios{
        width: 600px;
    }
    .sec{
        flex: 100%;

    }
    .derecha{
        flex: 100%;
    }
    .izquierda{
        flex:100%;
    }
    .container{
        width:95%;
        max-width:600px;
        padding:32px 64px;
        margin:auto;
    }

     .social{
        /*las imágenes usadas tienen width de 48px*/
        width:48px;
        position:fixed;
        top: 108%;
        bottom: 0;
        display: flex;
        left:35%;
        height:48px;
        margin-top:-105px;
    } 
    .turismo{
        height: 600px;
        width: 500px;
        margin-top: 10px;
        object-fit: scale-down;
    }
}
@media(min-width:600px){
        .grid-contenedor{
            grid-template:
            "header header" 200px
            "navbar navbar" 25px
            "main main" auto
            "article article"
            "footer footer" 200px/
            324px auto;
        }
        .img{
            height: 200px;
        }
        #slideshow{
            height: 200px;
        }
        .columna{
            flex: 25%;
        }
        .logo{
            width: 200px;
            height: 197px;
        }
        .form{
            width: 100%;

        }
        .nav{
            font-size: 16px;
            display: inline;
        }
        .button{
            width: 125px;
            height: 20px;
            border: 2px solid black;
            border-radius: 10px;
        }
        .viajes{
            display: flex;
            padding-left: 10px;
            justify-content: center;
            }           
        .dropdown-content {
             position: absolute;}
        .secretarios{
            width: 600px;
        }
        .sec{
            flex: 100%;

        }
        .derecha{
            flex: 100%;
        }
        .izquierda{
            flex:100%;
        }
        .container{
			width:95%;
			max-width:600px;
			padding:32px 64px;
			margin:auto;
		}

         .social{
			/*las imágenes usadas tienen width de 48px*/
			width:48px;
			position:fixed;
            top: 108%;
			bottom: 0;
            display: flex;
			left:35%;
			height:48px;
			margin-top:-105px;
		} 
        .turismo{
            height: 600px;
            width: 500px;
            margin-top: 10px;
            object-fit: scale-down;
        }

 }
@media(min-width:900px){
            .grid-contenedor{
                grid-template:
                "header header header" 300px
                "navbar main article"  auto
                "footer footer footer" 200px/
                300px auto 300px;
    
    
            }
            .img{
                height: 300px;
            }
            #slideshow{
                height: 300px;
            }
            .logo{
                width: 300px;
                height: 297px;
            }
            .form{
                width: 100%;
    
            }
            .columna{
                flex:100%;
            }
            .nav{
                font-size: 30px;
                display: block;
            }
            .button{
                width: 200px;
                height: 30px;
                border: 2px solid black;
                border-radius: 10px;}
            .viajes{
                    display: flex;
                    padding-left: 10px;
                    justify-content: center;}
            .dropdown-content {
                position: relative;
            }
            .secretarios{
                display: flex;
                width: auto;
            }
            .sec{
                flex: 15%;
            }
            .derecha{
                flex: 15%;
            }
            .izquierda{
                flex:15%;
            }
            .container{
                width:95%;
                max-width:900px;
                padding:32px 64px;
                margin:auto;
            }
    
            .social{
                width:48px;
                position:fixed;
                left:96%;
                right:0;
                display: block;
                 top:70%;
                 height:48px;
                 margin-top:-100px;
            }
            .turismo{
                height: 800px;
                width: 700px;
                margin-top: 10px;
                object-fit: scale-down;
            }
}
